<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TabRESTMigrate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TabRESTMigrate.Properties.Settings>
            <setting name="RecentUserName" serializeAs="String">
                <value>test@example.com</value>
            </setting>
            <setting name="RecentUrlExportFrom" serializeAs="String">
                <value>https://10az.online.tableau.com/#/site/my-test-site/projects</value>
            </setting>
            <setting name="SavePassword" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentUrlImportTo" serializeAs="String">
                <value>https://10az.online.tableau.com/#/site/my-test-site</value>
            </setting>
            <setting name="RecentUrlInventoryFrom" serializeAs="String">
                <value>https://10az.online.tableau.com/#/site/my-test-site</value>
            </setting>
            <setting name="RecentPasswordExportFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentPasswordImportTo" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentPasswordInventoryFrom" serializeAs="String">
                <value />
            </setting>
        </TabRESTMigrate.Properties.Settings>
    </userSettings>
</configuration>